<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
  <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-title>
  Hospital Aristides Maltez
  </ion-title>
  </ion-toolbar>
  </ion-header>
  <ion-content>
  <ion-card class="welcome-card">
  <ion-img src="/assets/logo_ham_2018.png"></ion-img>
  <ion-card-header>
  <!-- <ion-card-subtitle>I am just getting started</ion-card-subtitle> -->
  <ion-card-title>Bem vindo ao APP do Hospital Aristides Maltez</ion-card-title>
  </ion-card-header>
  <ion-card-content>
  <p>Com imagens melhores isso vai ficar bem melhor né kkkk !</p>
  </ion-card-content>
  </ion-card>

  <ion-footer>
    <ion-toolbar>
      <ion-title>Footer</ion-title>
    </ion-toolbar>
  </ion-footer>
  </ion-content>